<!DOCTYPE html>

<!-- SPDX-License-Identifier: MIT OR CC0-1.0 -->
<!-- SPDX-FileCopyrightText: 2021 Johannes Siipola -->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> <!--# echo var="status" default="" --> &ndash; <!--# echo var="status_text" default="Something went wrong" --> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/custom-error-page.css" />
</head>

<body>
<div class="container">
    <div class="left">
        <svg
            width="300"
            height="300"
            viewBox="0 0 300 300"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M153.01 33.2a6 6 0 0 1 2.18 2.18l129.7 223.61a6 6 0 0 1-5.19 9.01H20.3a6 6 0 0 1-5.2-9.01L144.8 35.38a6 6 0 0 1 8.21-2.18ZM150.02 204a14.01 14.01 0 1 0-.02 28.02 14.01 14.01 0 0 0 .02-28.02Zm4.8-89h-9.65a6 6 0 0 0-6 6.17l1.5 52a6 6 0 0 0 6 5.83h6.67a6 6 0 0 0 6-5.83l1.48-52a6 6 0 0 0-6-6.17Z"
                fill="#000"
                fill-rule="evenodd"
            />
        </svg>
    </div>
    <div class="right">
        <div class="text-container">
            <h1 class="code">
                <!--# echo var="status" -->
            </h1>
            <div class="status">
                <!--# echo var="status_text" default="Something went wrong" -->
            </div>
            <div class="description">
                <!--# if expr="$status = 404" -->
                The page you were looking for may have been deleted or
                moved.
                <!--# elif expr="$status = /4\d\d/" -->
                Your browser sent a request that the server was unable
                to process.
                <!--# elif expr="$status = /5\d\d/" -->
                The server encountered an error and could not complete
                your request. Please try again later.
                <!--# else -->
                Something went wrong while trying to display this page.
                Please try again later.
                <!--# endif -->
            </div>
            <!--# if expr="$status = 404" -->
            <div class="button-container">
                <a href="/" class="button">Back to home</a>
            </div>
            <!--# endif -->
            <div class="footer">
                Nginx at <!--# echo var="host" default="localhost" -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
